<div class="center jumbotron">
  <h1>Welcome to the ADS app</h1>

  <h2>

  </h2>

  <div>
    <%= link_to "Продолжить как гость", '#', class: "btn btn-lg btn-primary", id:  "guest-button"%>
    </div>
    </div>

