<% provide(:title, 'All ads') %>
<h1 class="jumbotron center">Welcome to Ads Project</h1>

<%= link_to "New add", new_ad_path%>
<% if @ads.any? %>
<%= will_paginate @ads %>
<div class="col-md-8">

  <ol class="ads">
    <%= render @ads %>
  </ol>
  <%= will_paginate @ads %>
  <% end %>
</div>