<% provide(:title, 'All ads') %>
<h1 class="jumbotron center">Welcome to Ads Project</h1>
  <% if current_user != nil && current_user.role != 'admin'   %><%= link_to "New add", new_ad_path %> <% end %>
  <% if @ads.any? %>
    <div class="col-md-8">
      <%= will_paginate @ads %>
      <ol class="ads">
        <%= render @ads %>
      </ol>
      <%= will_paginate @ads %>
  <% end %>

</div>