<% provide(:title, 'All ads') %>
<h1>All ads</h1>
<%= will_paginate @ads %>
<div class="col-md-8">
  <ol class="ads">
    <%= render @ads %>
  </ol>
  <%= will_paginate @ads %>
  <%= will_paginate %>
</div>