<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-8">
    <% if @user.ads.any? %>
      <h3>My ads (<%= @user.ads.count %>)</h3>
      <ol class="ads">
        <%= render @ads_for_current_user %>
      </ol>
      <%= will_paginate @ads_for_current_user %>
    <% end %>
  </div>
</div>
