<div class="row">
  <aside class="center">
    <section class="ad-detail">
      <h1 class="center"><%= @ad.title %>  </h1>
      <% @ad.pictures.each do |picture| %>
        <%= image_tag(picture.thumb.url) %>
      <% end %>
    </section>
    <div>
      <%= @ad.content %>
    </div>
    <div>
        <h1> <%= link_to "Pend it", edit_admin_ad_path(@ad, variant: 1) %></h1>
    </div>
  </aside>
</div>